.modal-container {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    &.visible {
        display: block;
    }
    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #000;
        opacity: .7;
        margin: 0;
    }
    .modal {
        position: absolute;
        width: 500px;
        top: 200px;
        margin: 0;

        .close-btn {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
};

@media screen and (max-width: 500px) {
    .modal {
        width: 100%;
        min-height: 100%
    }
}