.save-the-date {
    .image-container {
        position: relative;
        text-align: center;
        .couple-title {
            font-family: "Playfair Display", serif;
            font-weight: 100;
            margin: 0 auto;
            // position: absolute;
            width: 100%;
            /* top: 10px; */
            color: #7d7d7d;
            letter-spacing: 2px;
            font-size: 2.75em;
            font-style: italic;
        }
    }
    .event {
            position: absolute;
            bottom: -250px;
            background: rgb(18, 18, 18);
            width: 100%;
            margin-top: 20px;
        .label {
            margin-top: 30px;
            font-size: 3em;
            text-transform: uppercase;
            font-size: 2em;
            letter-spacing: 14px;
            font-weight: bold;
            color: #fff;
            .small {
                font-size: .5em;
                position: relative;
                top: -11px;
                letter-spacing: 7px;
            }
        }
        .date {
            color: #d36565;
            font-size: 12rem;
            font-weight: bolder;
            font-family: "Playfair Display", serif;
            line-height: 6rem;
            margin-bottom: 80px;
        }
        .details {
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 30px;
            a {
                color: #eee;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .main-content>.save-the-date {
        margin-top: -20px;
        .couple-title {
            font-size: 1.5em;
        }
        .event {
            .label {
                font-size: 1.3em;
                letter-spacing: 8px;
                .small {
                    top: -6px;
                    font-size: .6em;
                    letter-spacing: 4px;
                }
            }
        }
    }
}