.schedule {
    .events {
        hr {
            width: 80%;
            margin: 10px auto;
        }
        .event {
            padding: 20px 0;
            .title,.date,.time,.location {
                margin: 0;
            }
            .title {
                font-family: "Playfair Display", serif;
                margin-top: 10px;
                letter-spacing: 2px;
                font-size: 1.5em;
            }
            .date {
                color: #555;
                text-transform: uppercase;
                font-size: .85em;
                letter-spacing: 2px;
            }
            .time {
                color: #666;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 20px;
                font-weight: 200;
                font-size: 1.25em;
            }
            .details {
                margin-bottom: 0;
            }
        }
    
    }
}